#main-body{
  padding-top: 60px
}

label{
  text-align: right;
}

.li-heading{
    font-size:120%;
    font-weight:bold;
    padding: 10px;
    margin-left:30px;
}

.li-items{
    padding: 10px;
    list-style-type: none;
}

.home-img{
  padding-left: 150px;
}
  